{%- assign what = tag | default: 'fiches' -%}
<ul class="fiches-list" data-count="{{ collections[what] | size }}">
  {%- for post in collections[what] -%}
    <li>
      <a href="{{ post.url | url }}" data-id="{{ post.fileSlug }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </li>
  {%- endfor -%}
</ul>
